*{
    box-sizing: border-box;
}


body{
            background-color: rgb(33, 126, 95);
        }

        .container{
            width: 600px;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: 200px 80px 120px;
            grid-template-areas: 
                'a a a b b'
                'c c d d d'
                'c c e e e'
            ;
            grid-gap: 15px;
            margin: 0 auto;
        }

        .container div{
            padding: 2em;
        }

        .bg1{
            background-color: rgb(235,80,32);
            grid-area: a;
        }

        .bg2{
            background-color: rgb(255,164,1);
            grid-area: b;
        }

        .bg3{
            background-color: rgb(5,170,66);
            grid-area: c;
        }

        .bg4{
            background-color: rgb(1,174,253);
            grid-area: d;
    
        }

        .bg5{
            background-color: rgb(1,174,253);
            grid-area: e;
        }

        

        header p{
            text-align: center;
            font-size: 1.5rem;
            padding: 1em;
        }

       a{
    background: hsl(179, 100%, 13%);
    text-align:center;
    padding:20px;
    color:white;
    text-decoration: none;
    border-radius: 10px;
    width: 200px;
}